@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primaryBlue: hsl(223, 87%, 63%);
  --color-primaryBlueHover: hsl(226, 77%, 70%);
  --color-secondaryBlue: hsl(223, 100%, 88%);
  --color-inputText: hsl(223, 60%, 83%);
  --color-secondaryRed: hsl(354, 100%, 66%);
  --color-neutralGray: hsl(0, 0%, 59%);
  --color-neutralDarkBlue: hsl(209, 33%, 12%);
}

body {
  font-size: 1.125rem;
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
